html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}


.container {
    height: 100%;
    width: 100%;
    background-color: #ebebeb;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border-radius: 2%;
    border: solid black 1px;
    background-color: #2D232E;
    color: white;

}


.xl {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
}

.xxl {
    font-size: 4.5rem;
    /* 72px */
    line-height: 1;
}

.separator {
    height: 1px;
    width: 60%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 40px;
}

.main {
    margin-top : 40px;
    color: #2D232E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lisen {
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 2px 5px 2px;
}

.header {
    top: 0;
    width: 100%;
    position: absolute;
    background-color: white;
    color : black;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 1px 5px 1px ;
}

img {
    height: 100px;
    width: 100px;
}

.reload {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black
}

.playlist {
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30%;
    background-color: white;
    box-shadow: 2px 0px 5px 2px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.scroll {
    height: 90%;
    overflow-y: scroll;

}

.item-list {
    border-bottom: 1px #2D232E solid;
    display: flex;
    padding-top: 10px;
}

.item-list:hover {
    background-color: #0001;
}

.list-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hidden {
    height: 40px;
}

.show {
    display: none
}

/* 
#474448
#2D232E 
#E0DDCF
#534B52
#F1F0EA
*/

@media   screen and (max-width: 600px) {
    .main {
        margin-top : 40px;
        color: #2D232E;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .list-container {
        color: #2D232E;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .playlist {
        z-index: 10;
        display: flex;
        flex-direction: column;
        height: 69vh;
        width: 80%;
        background-color: white;
        box-shadow: 2px 0px 5px 2px;
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
    }
    .hidden {
        height: 40px;
    }
    
    .show {
        display: none
    }  
    .list-container {
        display: flex;
        width: 100%;
    } 
}