html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black
}


.container {
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(171deg, rgba(0, 0, 0, 1) 0%, rgba(1, 0, 1, 1) 80%, rgba(62, 0, 66, 1) 100%);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    width: 80%;
    border-radius: 2%;
    border: solid black 1px;
    background-color: #2D232E;
}


.xl {
    font-size: 1.875rem;
    /* 30px */
    line-height: 2.25rem;
    /* 36px */
}

.xxl {
    font-size: 4.5rem;
    /* 72px */
    line-height: 1;
}

.separator {
    height: 1px;
    width: 60%;
    background-color: white;
    margin: 50px;
}

.main {
    margin-top: 40px;
    color: #2D232E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lisen {
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 2px 5px 2px;
}

.header {
    top: 0;
    width: 100%;
    position: absolute;
    background-color: black;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    z-index: 10;
    box-shadow: 0px 1px 5px 1px;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

.reload {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white
}

.playlist {
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30%;
    background-color: black;
    box-shadow: 2px 0px 5px 2px rgba(62, 0, 66, 1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.scroll {
    height: 90%;
    overflow-y: scroll;
}

.item-list {
    border-bottom: 1px #2D232E solid;
    display: flex;
    padding-top: 10px;
}


.item-list:hover {
    background-color: #040004;
}

.list-container {
    padding-top: 4%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hidden {
    height: 40px;
}

.show {
    display: none
}

.Button {
    color: purple;
}


p {
    color: white;
}

@media screen and (max-width: 600px) {
    .main {
        margin-top: 40px;
        color: #2D232E;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .list-container {
        color: #2D232E;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .playlist {
        z-index: 10;
        display: flex;
        flex-direction: column;
        height: 69vh;
        width: 80%;
        background-color: black;
        box-shadow: 0px 0px 5px 1px rgba(33, 0, 33, 1);
        border-radius: 10px;
        padding: 10px;
        margin-top: 20px;
    }



    .hidden {
        height: 40px;
    }

    .show {
        display: none
    }

    .list-container {
        display: flex;
        width: 100%;
    }

    .playlist:last-child {
        margin-bottom: 10%;
    }
}